.ImageShow img {
  margin-left: -410px;
  width: 350px;
  height: auto;
}

.ImageShow h3 {
  margin-left: -45px;
  font-size: 16px;
  font-weight: lighter;
  color: #676767;
  margin-top: -355px;
}

.ImageShow {
  margin-left: 400px;
}

.ImageShow input {
  width: 250px;
}

.ImageShow ul {
  width: 250px;
  margin-left: -10px;

}

.ImageShow button  {
  margin-left: 5px;
  width: 273px;
}

.ImageShow input[type="submit"] {
  position: relative;
  left: 180px;
}

#close {
  border: none;
  background: white;
  cursor: pointer;
  font-size: 18px;

}

.Comments {
  overflow-y: scroll;
  padding-right: 300px;
  width: 300px;
  height: 315px;
  padding-top: 20px;
  margin-left: -50px;
  margin-top: -5px;
}

.Like a{
  padding-left: 3px;
}

.Like ul{
  padding-top: 10px;
  position: absolute;
  top: 10%;
  left: 60%;
  font-size: 10px;
}

.Like img{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 155%;
  top: 25%;
  cursor: pointer;
}
