.searchBar input {
  left: 40%;
  top: 15px;
  position: fixed;
  border-radius: 4%;
  z-index: 100;
  cursor: text;
  width: 250px;
}

.searchBar ul {
  position: fixed;
  left: 40%;
  width: 290px;
  top: 50px;
  background: white;
  height: auto;
  z-index: 100;
}

.searchBar li {
  padding: 10px;
  padding-bottom: 20px;
}

.searchBar img {
  position: relative;
  width: 30px;
  height: auto;
  border-radius: 50%;
}

.searchBar a{
  color: #cb8a3f;
  font-weight: lighter;
  position: relative;
  top: 2px;
  margin-left: 60px;
}
